* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --body-bg: #000;
  --main-col: #ff9301;
  --light-bg: #0c0c14;
  --dark-bg: #0e0e17;
  --dark-bg-more: #0b0b13;
  --col-white: #fff;
}
#msg {
  color: var(--main-col);
  font-weight: 500;
  line-height: 2;
  margin-top: 8px;
}
/* width related classes */

.width-100 {
  width: 100%;
}
.width-80 {
  width: 80%;
}

.width-40 {
  width: 40%;
}
.p-lr {
  padding: 0 10%;
}
.mb-3 {
  margin-bottom: 3%;
}
.mb-4 {
  margin-bottom: 4%;
}

.inline-center-bet {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.inline-center {
  display: inline-flex;
  align-items: center;
}
.grid-center {
  display: grid;
  place-items: center;
}
.text-1 {
  font-size: 16px;
  color: #ffffffcc;
  word-spacing: 1.5px;
}
.text-1 > b {
  font-size: 16px;
  color: var(--col-white);
}
.text-1 > span {
  font-size: 15px;
}
.text-2 {
  font-size: 15px;
  color: #ffffffb6;
}
.text-3 {
  font-size: 15px;
  color: #ffffffb6;
  word-spacing: 1.5px;
}
.text-sm {
  font-size: 14px;
  color: #ffffffcc;
  word-spacing: 1.5px;
}
.heading-text {
  font-size: 38px;
  font-weight: 600;
  color: var(--col-white);
}
.heading-text-2 {
  font-size: 22px;
  font-weight: 500;
  color: var(--col-white);
}
.heading-text-3 {
  font-size: 17px;
  font-weight: 600;
  color: var(--col-white);
}
.parent-border-light {
  background-color: var(--light-bg);
}
.parent-border-dark {
  background-color: var(--body-bg);
}
.div-border-black {
  background-image: url(../images/border-dark.png);
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: repeat-x;
  background-size: auto 6px;
  background-position: 50%;
  filter: invert(1);
}

.col-white {
  color: var(--col-white);
}
.italic {
  font-style: italic;
}
.btn-main {
  padding: 8px 15px;
  background-color: var(--col-white);
  color: var(--body-bg);
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  transition: 0.35s;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn-main:hover {
  color: var(--col-white);
  border: 1px solid var(--col-white);
  background-color: var(--col-black);
}
.btn-2 {
  padding: 7px 12px;
  color: var(--col-white);
  border: 1px solid var(--col-white);
  background-color: var(--col-black);
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.35s;
  cursor: pointer;
}
.btn-2:hover {
  background-color: var(--col-white);
  color: var(--body-bg);
}
@media screen and (max-width: 1300px) {
  .p-lr {
    padding: 0 7%;
  }
}
@media screen and (max-width: 1200px) {
  .p-lr {
    padding: 0 5%;
  }
}
@media screen and (max-width: 1200px) {
}
.heading-text-2 {
  font-size: 19px;
}

@media screen and (max-width: 600px) {
  .heading-text {
    font-size: 30px;
  }
  .text-1 {
    font-size: 15px;
  }
  .div-border-black {
    padding: 0 0 50px 0;
  }
}

/*  <!-- this is our work section ,start -->
        <section class="work-section p-lr" id="work">
          <!-- main heading -->
          <div class="work-main-heading">
            <p class="heading-text">Featured Work</p>
          </div>

          <!-- here my work  -->

          <!-- // -->

          <div class="work-section-child work-section-child-gird-2 width-100">
            <div class="work-section-child-content">
              <p>Website</p>
              <h6 class="heading-text-2">Hello India Tour</h6>
              <p class="text-2" style="margin-bottom: 15px">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore
                fuga quidem voluptates voluptatibus sint fugit, minus nobis,
                deleniti sunt corrupti quos nisi minima. Dolore laborum fugiat a
                voluptas, fuga eius?
              </p>

              <p class="text-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore
                fuga quidem voluptates voluptatibus sint fugit, minus nobis,
                deleniti sunt corrupti quos nisi minima. Dolore laborum fugiat a
                voluptas, fuga eius?
              </p>
              <div class="technologies-div inline-center">
                <p>HTML</p>
                <p>CSS</p>
                <p>JAVASCRIPT</p>
                <p>PHP</p>
                <p>MYSQL</p>
                <p>GIT</p>
              </div>
              <div class="btn-div">
                <button type="submit" class="btn-2">Visit Link</button>
              </div>
            </div>
            <div class="work-section-child-img width-100 flex-right">
              <img
                src="./images/rapid-full-removebg-preview.png"
                alt="helloindiatour"
              />
            </div>
          </div>
          <!-- // -->
          <div class="work-section-child work-section-child-gird-1 width-100">
            <div class="work-section-child-img width-100 flex-left">
              <img src="./images/My-hello-project.png" alt="helloindiatour" />
            </div>
            <div class="work-section-child-content">
              <p>Website</p>
              <h6 class="heading-text-2">Hello India Tour</h6>
              <p class="text-2" style="margin-bottom: 15px">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore
                fuga quidem voluptates voluptatibus sint fugit, minus nobis,
                deleniti sunt corrupti quos nisi minima. Dolore laborum fugiat a
                voluptas, fuga eius?
              </p>
              <p class="text-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore
                fuga quidem voluptates voluptatibus sint fugit, minus nobis,
                deleniti sunt corrupti quos nisi minima. Dolore laborum fugiat a
                voluptas, fuga eius?
              </p>

              <div class="technologies-div inline-center">
                <p>HTML</p>
                <p>CSS</p>
                <p>JAVASCRIPT</p>
                <p>PHP</p>
                <p>MYSQL</p>
                <p>GIT</p>
              </div>
              <div class="btn-div">
                <button type="submit" class="btn-2">Visit Link</button>
              </div>
            </div>
          </div>
          <!-- // -->
        </section>
        <!-- here end work section --> */
